{% extends 'layout.html' %}
{% block content %}
<h1>Upravljanje rezervacijama</h1>
<form action="" method="POST">
    <div class="row">
        <div class="form-group col text-center mb-5">
            <label for="reservation_date">Izaberite datum rezervacije</label>
            <input class="form-control d-inline-block" name="reservation_date" id="reservation_date" type="date" min="{{ min_date }}" max="{{ max_date }}" value="{{ selected_date }}">
            <a class="btn btn-primary ml-4" href="" id="reservation_link">Rezervacije</a>
        </div>
    </div>
</form>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Interval</th>
            <th>Broj Raspoloživih stolova 2</th>
            <th>Broj rezervisanih stolova 2</th>
            <th>Broj slobodnih stolova 2</th>
            <th>Broj Raspoloživih stolova 4</th>
            <th>Broj rezervisanih stolova 4</th>
            <th>Broj slobodnih stolova 4</th>
        </tr>
    </thead>
    <tbody>
        {% for row in table %}
        <tr>
            <td>{{ row['interval'] }}</td>
            <td><input type="number" class="available-tables" data-interval="{{ row['interval'] }}" name="available_tables_2" value="{{ row['available_tables_2'] }}"></td>
            <td>{{ row['booked_tables_2'] }}</td>
            <td>{{ row['free_tables_2'] }}</td>
            <td><input type="number" class="available-tables" data-interval="{{ row['interval'] }}" name="available_tables_4" value="{{ row['available_tables_4'] }}"></td>
            <td>{{ row['booked_tables_4'] }}</td>
            <td>{{ row['free_tables_4'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
    
{% endblock content %}
{% block scripts %}
<script>
    document.addEventListener('change', function (e) {
        if (e.target.id === 'reservation_date') {
            var form = document.querySelector('form');
            var formData = new FormData(form);
            fetch(form.action, {
                method: 'POST',
                body: formData
            })
            .then(response => response.text())
            .then(data => {
                document.open();
                document.write(data);
                document.close();
            })
            .catch(error => console.error('Error:', error));
        } else if (e.target.classList.contains('available-tables')) {
            var interval = e.target.dataset.interval;
            var availableTables_2, availableTables_4;

            if (e.target.name === 'available_tables_2') {
                availableTables_2 = e.target.value;
                availableTables_4 = document.querySelector(`input[data-interval="${interval}"][name="available_tables_4"]`).value;
            } else if (e.target.name === 'available_tables_4') {
                availableTables_4 = e.target.value;
                availableTables_2 = document.querySelector(`input[data-interval="${interval}"][name="available_tables_2"]`).value;
            }
            var reservationDate = document.getElementById('reservation_date').value;
            
            var formData = new FormData();
            formData.append('interval', interval);
            formData.append('available_tables_2', availableTables_2);
            formData.append('available_tables_4', availableTables_4);
            formData.append('reservation_date', reservationDate);
            
            fetch('{{ url_for("admin.update_tables") }}', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                // console.log('Success:', data); //! ovo je bilo pre nego što je dodat if blok
                if (data.success) {
                    var currentUrl = new URL(window.location.href);
                    currentUrl.searchParams.set('selected_date', reservationDate);
                    window.location.href = currentUrl.href;
                } else {
                    console.error('Update failed:', data);
                }
                // console.log('Success:', data); //! ovo je bilo pre nego što je dodat if blok
            })
            .catch(error => console.error('Error:', error));
        }
    });
    document.getElementById('reservation_link').addEventListener('click', function(e) {
        e.preventDefault();
        var reservationDate = document.getElementById('reservation_date').value;
        var url = new URL('{{ url_for("admin.reservations") }}', window.location.origin);
        url.searchParams.set('selected_date', reservationDate);
        window.location.href = url.href;
    });
</script>
{% endblock scripts %}