{% extends 'layout.html' %}
{% block content %}
<dl class="row">
    <dt class="col-sm-3">Broj rezervacije</dt>
    <dd class="col-sm-9">{{ reservation_number }}</dd>

    <dt class="col-sm-3">Datum</dt>
    <dd class="col-sm-9">{{ reservation_date }}</dd>

    <dt class="col-sm-3">Vreme</dt>
    <dd class="col-sm-9">{{ reservation_time }}</dd>

    <dt class="col-sm-3">Broj osoba</dt>
    <dd class="col-sm-9">{{ number_of_people }}</dd>

    <dt class="col-sm-3">Napomena</dt>
    <dd class="col-sm-9">{{ note }}</dd>
</dl>
{% if language == 'mn' %}
<a href="https://www.catovica-mlini.com/" class="btn btn-primary">Početna</a>
<a href="{{ url_for('main.home', language=language) }}" class="btn btn-primary">Rezervacija</a>
{% else %}
<a href="https://www.catovica-mlini.com/" class="btn btn-primary">Home</a>
<a href="{{ url_for('main.home', language=language) }}" class="btn btn-primary">Reservation</a>
{% endif %}

{% endblock content %}