{% extends 'layout.html' %}
{% block content %}
<h1 class="astal-heading">REZERVACIJA</h1>
<form action="" method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group mb-4">
        <div class="container astal-form">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-3">
                    {{ form.reservation_date.label(class="cormorant") }}
                    {{ form.reservation_date(class="form-control", id="reservation_date", min=min_date, max=max_date, value=form.reservation_date.data) }}
                    {% for error in form.reservation_date.errors %}
                        <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="col-md-2">
                    {{ form.number_of_people.label(class="cormorant") }}
                    {{ form.number_of_people(class="form-control", id="number_of_people", type="number", value=form.number_of_people.data) }}
                    {% for error in form.number_of_people.errors %}
                        <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="col-md-3">
                    {% if interval_options %}
                    {{ form.reservation_time.label(class="cormorant") }}
                    {{ form.reservation_time(class="form-select", id="reservation_time") }}
                    {% for error in form.reservation_time.errors %}
                        <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    {{ form.user_email.label(class="cormorant") }}
                    {% if form.user_email.data %}
                    {{ form.user_email(class="form-control", id="user_email", value=form.user_email.data) }}
                    {% else %}
                    {{ form.user_email(class="form-control", id="user_email") }}
                    {% endif %}
                    {% for error in form.user_email.errors %}
                        <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </div> 
                <div class="col-md-3">
                    {{ form.user_name.label(class="cormorant") }}
                    {% if form.user_name.data %}
                    {{ form.user_name(class="form-control", id="user_name", value=form.user_name.data) }}
                    {% else %}
                    {{ form.user_name(class="form-control", id="user_name") }}
                    {% endif %}
                    {% for error in form.user_name.errors %}
                        <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="col-md-3">
                    {{ form.user_surname.label(class="cormorant") }}
                    {% if form.user_surname.data %}
                    {{ form.user_surname(class="form-control", id="user_surname", value=form.user_surname.data) }}
                    {% else %}
                    {{ form.user_surname(class="form-control", id="user_surname") }}
                    {% endif %}
                    {% for error in form.user_surname.errors %}
                        <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="col-md-3">
                    {{ form.user_phone.label(class="cormorant") }}
                    {% if form.user_phone.data %}
                    {{ form.user_phone(class="form-control", id="user_phone", value=form.user_phone.data) }}
                    {% else %}
                    {{ form.user_phone(class="form-control", id="user_phone") }}
                    {% endif %}
                    {% for error in form.user_phone.errors %}
                        <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    {{ form.user_note.label(class="cormorant") }}
                    {{ form.user_note(class="form-control", id="user_note") }}
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center mt-4">
                    <input type="hidden" id="submit_type" name="submit_type" value="">
                    <button class="animated-btn text-white" type="submit" id="reservation_button" name="reservation_button" onclick="document.getElementById('submit_type').value='button'">Rezervišite</button>
                    {% else %}
                    Nije moguće rezervisati, za više informacija konaktirajte nas na broj...
                    <input type="hidden" id="submit_type" name="submit_type" value="">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock content %}
{% block scripts %}
<script>
    document.addEventListener('change', function (e) {
        if (e.target.id === 'reservation_date' || e.target.id === 'number_of_people') {
            console.log('Detected change in reservation_date or number_of_people');
            document.getElementById('submit_type').value = 'input_change';
            var form = document.querySelector('form');
            var formData = new FormData(form);

            fetch(form.action, {
                method: 'POST',
                body: formData
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.text();
            })
            .then(data => {
                console.log('Received response from server');
                document.open();
                document.write(data);
                document.close();
            })
            .catch(error => console.error('Error:', error));
        }
    });
</script>

{% endblock scripts %}