{% extends 'layout.html' %}
{% block content %}
<div class="container">
    <h1 class="mb-5">Način zaštite poverljivih podataka</h1>
    <div class="row mb-5">
        <div class="col-md-6 pdf-box">
            „Larry &amp; brother&#39;s company” d.o.o. koristi Monri WSPay za online plaćanja.
Monri WSPay je siguran sistem za online plaćanje, plaćanje u realnom vremenu, kreditnim i debitnim
karticama te drugim načinima plaćanja. Monri WSPay kupcu i trgovcu osiguravaju siguran upis i
prenos upisanih podataka o karticama što podvrđuje i PCI DSS sertifikat koji Monri WSPay ima. Monri
WSPay koristi SSL sertifikat 256 bitne enkripcije te TLS 1.2 kriptografski protokol kao najviše stepene
zaštite kod upisa i prenosa podataka.
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts %}
<script>
    // Ovdje možete dodati JavaScript kod specifičan za ovu stranicu, ako je potrebno
</script>
{% endblock scripts %}