{% extends 'layout.html' %}
{% block content %}
<div class="container">
    <h1 class="mb-5">Izjava o zaštiti prenosa ličnih podataka</h1>
    <div class="row mb-5">
        <div class="col-md-6 pdf-box">
            Zaštita ličnih podataka u skladu sa Opštom uredbom o zaštiti podataka Evropskog parlamenta i
Vijeća broj 2016/679. Sprovođenjem Opšte uredbe o zaštiti podataka
Monri WSPay kao izvršilac sprovođenja autorizacije i naplate kreditnih kartica postupa s ličnim
podacima u svojstvu izvršioca obrade te sa ličnim podacima postupa u skladu sa Opšom uredbom o
zaštiti podataka Evropskog parlamenta i Vijeća broj 2016/679 te prema strogim pravilima PCI DSS L1
regulative o zaštititi upisa i prenosa podataka.
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts %}
<script>
    // Ovdje možete dodati JavaScript kod specifičan za ovu stranicu, ako je potrebno
</script>
{% endblock scripts %}