{% extends 'layout.html' %}
{% block content %}
<div class="container">
    <h1 class="mb-5">Izjava o prikupljanju i korišćenju ličnih podataka</h1>
    <div class="row mb-5">
        <div class="col-md-6 pdf-box">
            U ime „Larry &amp; brother&#39;s company“ d.o.o. obavezujemo se da ćemo čuvati privatnost svih naših
kupaca. Prikupljamo samo neophodne podatke o korisnicima i podatke neophodne za poslovanje i
informisanje korisnika u cilju pružanja kvalitetne usluge. Svi podaci o korisnicima se strogo čuvaju i
dostupni su samo zaposlenima kojima su ti podaci potrebni za obavljanje posla. Svi zaposleni „Larry
&amp; brohter&#39;s company“ odgovorni su za poštovanje načela privatnosti.
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts %}
<script>
    // Ovdje možete dodati JavaScript kod specifičan za ovu stranicu, ako je potrebno
</script>
{% endblock scripts %}