{% extends 'layout.html' %}
{% block content %}
<h1 class="astal-heading">Resetovanje lozinke</h1>
<p class="text-center">Unesite mejl koji ste koristili za registraciju.</p>
<p class="text-center">Kliknite na dugme "Pošalji" kako bi ste dobili instrukcije za resetovanje lozinke.</p>
<form method="POST" action="{{ url_for('admin.reset_password_request') }}">
    {{ form.hidden_tag() }}
    <div class="container astal-form">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                {{ form.email.label(class="form-label cormorant") }}
                {{ form.email(class="form-control") }}
                {% for error in form.email.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center mt-4">
                <button type="submit" class="animated-btn text-white">Pošalji</button>
            </div>
        </div>
    </div>
</form>
{% endblock content %}
