{% extends 'layout.html' %}
{% block content %}
<h1 class="astal-heading">Nova lozinka</h1>
<form method="POST" action="{{ url_for('admin.reset_password', token=token) }}">
    {{ form.hidden_tag() }}
    <div class="container astal-form">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                {{ form.password.label(class="form-label cormorant") }}
                {{ form.password(class="form-control") }}
                {% for error in form.password.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row mt-3">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                {{ form.confirm_password.label(class="form-label cormorant") }}
                {{ form.confirm_password(class="form-control") }}
                {% for error in form.confirm_password.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center mt-4">
                <button type="submit" class="animated-btn text-white">Promeni</button>
            </div>
        </div>
    </div>
</form>
{% endblock content %}
