{% extends 'layout.html' %}
{% block content %}
<div class="container">
    <h1 class="mb-5">Uslovi prodaje</h1>
    <div class="row mb-5">
        <div class="col-md-6 pdf-box">
            Plaćanje se usluge se može izvršiti kreditnom karticom ili gotovinski. Uslugu dostave hrane i pića ne vršimo. Reklamacije se primaju u ugostiteljskom objektu u toku korištenje usluga.
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts %}
<script>
    // Ovdje možete dodati JavaScript kod specifičan za ovu stranicu, ako je potrebno
</script>
{% endblock scripts %}