{% extends 'layout.html' %}
{% block content %}
<div class="container">
    <h1 class="mb-5">Način zaštite poverljivih podataka</h1>
    <div class="row mb-5">
        <div class="col-md-6 pdf-box">
            “Larry &amp; brother&#39;s company“ se obavezuje pružati zaštitu ličnih podataka kupaca na način da
prikuplja samo neophodne podatke o kupcima koji su nužni za ispunjenje naših obaveza, redovno
daje kupcima mogućnost izbora o upotrebi podataka uključujući mogućnost odluke žele li ili ne da se
njihovo ime ukloni s listse koje se koriste za marketinške svrhe.
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts %}
<script>
    // Ovdje možete dodati JavaScript kod specifičan za ovu stranicu, ako je potrebno
</script>
{% endblock scripts %}